# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle atomic-radio'
      'command': 'atomic-radio:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atomic-radio'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'atomic-radio:toggle'
        }
      ]
    ]
  }, {
    'label': 'Radio'
    'submenu': [
      'label': 'SOMAFM'
      'submenu': [
        {
          'label': 'SF 10-33'
          'command': 'atomic-radio:toggle'
        }
      ]
    ]
  }
]
