// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.tiny .hide-when-tiny {
  display: none;
}

atom-panel.modal.overlay.from-top {
  padding: 0;
  padding-bottom:5px;
  width: initial;
  color:#333;
  background-color:black;
  opacity: 0.875;

  .atomic-radio {
    background: black;

    .message {

      .audio-station-ident {

        .audio-station-ident-left {
          float:left;
          width:160px;
          height:160px;
          margin: 0em 2em 1em 1em;

          img {
            width: 148px;
            margin:10px;
          }
        }

        .audio-station-ident-right {
          float:right;
          padding:10px;

          img {
            max-height: 50px;
            margin:10px;
            float:right;
            display: none;
          }
          .station-name {
            color: red;
            font-size: large;
            display: block;
            text-align: right;
          }
          .channel-name {
            padding: 0.3em 0;
            display: block;
            text-align: right;

          }
          .audio-station-description {
            width:300px;
            height: 90px;
          }
        }

        .audio-element {
          margin-top:25px;
        }

      }

    }
  }


}
