// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.atomic-radio {
  background: black;
  .message {
    padding: 25px;
    color: #95B9C7;
  }
}

atom-panel.modal.overlay.from-top {
  padding: 0;
  width: initial;
  color:#333;

  .audio-station-ident {
    .audio-station-ident-left {
      float:left;
      img {
        width: 128px;
        margin:10px;
      }
    }

    .audio-station-ident-right  {
      float:right;
      padding:10px;
      h2 {
        font-size: 36pt;
      }
    }

    .audio-station-description {
      padding:1em ;
      width:300px;

    }

  }

  .audio-element {
    margin-top:25px;
  }

}
